{% load thumbnail %}
<!doctype html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Galeria</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/index.css">
</head>
<body>
	<header>
		<h1>Mi Galeria</h1>
		<a id="button" href="#button">Subir Foto</a>
	</header>
	<section>
		{% for foto in fotos %}
			<figure>
				<figcaption>{{ foto.fig_caption }}</figcaption>
				<a href="/{{ foto.id }}">
				{% thumbnail foto.img "300x200" crop="center" as im %}
			    	<img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
				{% endthumbnail %}
				</a>
				<figcaption>{{ foto.img_date }}</figcaption>
			</figure>
		{% endfor %}
	</section>
</body>
</html>
